@{
    ViewData["Title"] = "CRUD";
}

<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg shadow overflow-x-auto">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="py-3 px-6 text-left">Name</th>
                    <th class="py-3 px-6 text-left">Email</th>
                    <th class="py-3 px-6 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows go here -->
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="mt-4 flex justify-end">
        <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-lg mr-2 hover:bg-blue-600">
            <i class="bx bx-chevron-left"></i>
        </a>
        <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">1</a>
        <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">2</a>
        <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">3</a>
        <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-lg ml-2 hover:bg-blue-600">
            <i class="bx bx-chevron-right"></i>
        </a>
    </div>
</div>

