@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-wrap p-3">
    <label for="año" class="text-blueGray-400 uppercase font-bold text-xs"> Escoja un año</label>
    <select id="año" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>--</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
    </select>
</div>

<div class="flex flex-wrap">
    <div class="mt-0 w-5/12 lg:w-4/12 xl:w-3/12 px-3 mb-2">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-3 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs"> Traffic</h5>
                        <span class="font-semibold text-xl text-blueGray-700">334,100</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-red-500">
                            <i class="bx bx-bar-chart-alt"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <span class="text-emerald-500 mr-2"><i class="fas fa-arrow-up"></i> 2,99% </span>
                    <span class="whitespace-nowrap"> Since last month </span>
                </p>
            </div>
        </div>
    </div>

    <div class="mt-0 w-5/12 lg:w-4/12 xl:w-3/12 px-3 mb-2">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-4 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">New users</h5>
                        <span class="font-semibold text-xl text-blueGray-700">2,999</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-pink-500">
                            <i class="bx bx-pie-chart-alt"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <span class="text-red-500 mr-2"><i class="fas fa-arrow-down"></i> 4,01%</span>
                    <span class="whitespace-nowrap"> Since last week </span>
                </p>
            </div>
        </div>
    </div>

    <div class="mt-0 w-5/12 lg:w-4/12 xl:w-3/12 px-3 mb-2">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">Sales</h5>
                        <span class="font-semibold text-xl text-blueGray-700">901</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-blue-500">
                            <i class="bx bx-money"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <span class="text-red-500 mr-2"><i class="fas fa-arrow-down"></i> 1,25% </span>
                    <span class="whitespace-nowrap"> Since yesterday </span>
                </p>
            </div>
        </div>
    </div>

    <div class="mt-0 w-5/12 lg:w-4/12 xl:w-3/12 px-3 mb-2">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">Sales</h5>
                        <span class="font-semibold text-xl text-blueGray-700">901</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-blue-500">
                            <i class="bx bx-money"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <span class="text-red-500 mr-2"><i class="fas fa-arrow-down"></i> 1,25% </span>
                    <span class="whitespace-nowrap"> Since yesterday </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap p-3">
    <div class="flex items-center">
        <div class="bg-white p-4 rounded shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Gráfico de Barras</h2>
            <div class="w-30 h-30">
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <div class="relative overflow-x-auto sm:rounded-lg p-3">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Código
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Grupo Contable
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Descripción
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Saldo Debe
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Saldo Haber
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="flex flex-wrap px-3">
    <div class="flex items-center">
        <div class="bg-white p-4 rounded shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Gráfico de Líneas</h2>
            <div class="w-30 h-30">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>

    <div class="flex items-center px-3">
        <div class="bg-white p-4 rounded shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Gráfico de Pastel</h2>
            <div class="w-30 h-30">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="flex items-center px-3">
        <div class="bg-white p-4 rounded shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Gráfico de Radar</h2>
            <div class="w-30 h-30">
                <canvas id="radarChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap p-3">
</div>
<script>
    // Configuración y datos del gráfico de Barras
    var ctx = document.getElementById('barChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Etiqueta 1', 'Etiqueta 2', 'Etiqueta 3', 'Etiqueta 4'],
            datasets: [{
                label: 'Valores',
                data: [12, 19, 3, 5], // Reemplaza con tus propios datos
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Configuración y datos del gráfico de Líneas
    var ctx = document.getElementById('lineChart').getContext('2d');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
            datasets: [{
                label: 'Ventas Mensuales',
                data: [12, 19, 3, 5, 2],
                borderColor: 'blue',
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
        }
    });

    // Configuración y datos del gráfico de Pastel
    var ctx = document.getElementById('pieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Manzanas', 'Plátanos', 'Uvas', 'Naranjas'],
            datasets: [{
                data: [30, 25, 20, 15],
                backgroundColor: ['red', 'yellow', 'purple', 'orange'],
            }]
        },
        options: {
            responsive: true,
        }
    });

    // Configuración y datos del gráfico de Radar
    var ctx = document.getElementById('radarChart').getContext('2d');
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Ventas', 'Ingresos', 'Gastos', 'Beneficio', 'Clientes'],
            datasets: [{
                label: '2023',
                data: [65, 70, 45, 80, 60],
                borderColor: 'blue',
                fill: true,
            }]
        },
        options: {
            responsive: true,
        }
    });
</script>

